page-welcome {
  .toolbar-background {
    background: transparent;
    border-color: transparent;
  }

  b {
    font-weight: 500;
    margin:auto;
  }

  p {
    padding: 0 40px;
    font-size: 14px;
    line-height: 1.5;
    margin:auto;
    color: #60646B;

    b {
      color: #000000;
      margin:auto;
    }
  }


}
